%larg-title {
  color: $color_grey-title;
  font-size: 28px;
  line-height: 26px;
  letter-spacing: -0.05em;
}

%middle-title {
  color: $color_grey-title;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: -0.05em;
}

%min-title {
  color: $color_grey-title;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.05em;
}

%normal-text {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.05em;
}

%stretched-text {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.015em;
}
