.menu{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  .logo{
    display: flex;
    align-items: center;
    cursor: pointer;

    .site-name{
      margin: 0;
      padding: 0;
      padding-left: 15px;
      font-family: $font-third;
      font-weight: bold;
      font-size: 24px;

      &:hover .site-name__link{
        color: $color_accent;
      }

      .site-name__link{
        color: $color_white;
      }
    }
  }

  .menu__list{
    @include content-between-flex('all');
    width: 420px;
    font-family: $font-first;
    font-size: 16px;
    font-weight: 100;
    line-height: 36px;
    text-transform: uppercase;

    .menu__item:hover{
      @include line(100%, 4px, $color_accent)
    }

    .menu__item:hover .menu__link{
      color: $color_accent;
    }

    .menu__link{
      color: $color_white;
    }
  }
}

