.nav-icon {
  @include сenter-x(48.5%);
  bottom: 16px;

  &__arrow-down {
    width: 28px;
    height: 28px;
    fill: $color_accent;
    border-radius: 50%;
    border: 2px solid $color_accent;
    @include transition;
  }

  &:hover .nav-icon__arrow-down {
    border: 2px solid transparent;
  }
}
