.section-title {
  @extend %larg-title;
  @include line(340px, 1px, $color_grey, 10px);
  font-family: $font-second;
  text-transform: uppercase;
  font-weight: 400;
  color: $color_grey-title;
  text-align: center;
  letter-spacing: 0.05em;
}

.section-subtitle {
  @extend %normal-text;
  text-align: center;
  margin: 12px auto 60px;
  max-width: 525px;
  font-weight: 300;
}

.suggestions{
  position: relative;
  min-height: 576px;
  padding-top: 65px;
  padding-bottom: 21px;
}