.steps {
  position: relative;
  max-width: 780px;
  margin: 0 auto;

  &__figure {
    position: relative;
    z-index: 5;
  }

  &__hexagon-wrapper {
    position: absolute;
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(5) {
      @include hexagon(171px, 202px, $color_grey-line);

      & > .step-hexagon {
        @include hexagon(169px, 200px, $color_white);
      }
    }

    &:nth-child(3) {
      @include hexagon($width: 257px, $height: 297px);

      & > .step-hexagon {
        @include hexagon(
          255px,
          295px,
          $background: url(../images/process-photo.jpg)
        );
      }
    }

    &:nth-child(6) {
      @include hexagon(257px, 297px, $color_grey-line);

      & > .step-hexagon {
        @include hexagon(255px, 295px, $color_white);
      }
    }

    &--step-1 {
      top: 98px;
      left: 0;
    }

    &--bgimg {
      top: 249px;
      left: 43px;
    }

    &--step-2 {
      top: 152px;
      left: 264px;
    }

    &--step-3 {
      top: 1px;
      left: 350px;
    }

    &--step-4 {
      top: 77px;
      right: 2px;
    }
  }
}

.step-hexagon {
  @include сenter-xy;
  line-height: 17px;
  letter-spacing: -0.05em;

  &__title {
    @extend %middle-title;
    margin-top: 40px;
    font-weight: 500;
    text-transform: uppercase;
    color: $color_grey-title;
    @include line(45%, 1px, $color_grey, 0px);
    margin-bottom: 11px;
  }

  &__text {
    margin: 0 auto;
    max-width: 70%;
    font-weight: 300;
    text-align: left;
  }
}
