.suggestions__list{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;

  .suggestions__item{
    width: 210px;

    .hexagon-border{
      @include hexagon(100px, 117px, $color_accent-lite);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-bottom: 20px;
      transition: all 200ms linear;
      cursor: pointer;

      &:hover{
        background-color: $color_accent;
      }

      &:hover .suggestion-logo{
        background-color: $color_white;
      }

      &:hover .suggestion-logo>.logo__svg{
        fill: $color_accent;
      }

      .suggestion-logo{
        @include hexagon(90px, 107px, $color_accent);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 200ms linear;

        .logo__svg{
          width: 40px;
          height: 40px;
          fill: $color_white;
          transition: all 200ms linear;
        }
      }
    }

    .suggestion-title{
      @include line(55px, 1px, $color_grey, 10px);
      font-family: $font-second;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 400;
      color: $color_grey-title;
      text-align: center;
      margin-bottom: 25px;
    }

    .suggestion-description {
      font-family: $font-first;
      font-size: 15px;
      font-weight: 300;
      color: $color_dscr;
    }
  }
}
