// Team
.relative {
  position: relative;
}
.team-section {
  padding-top: 55px;
  background-color: $color_litegray;
  min-height: 578px;
}
.team-article {
  @extend %larg-title;
  font-family: $font-first;
  font-weight: 500;
  color: $color_dark;
  text-align: center;
  text-transform: uppercase;
  &::after {
    display: block;
    content: '';
    width: 142px;
    height: 1px;
    background-color: $color_grey-line;
    margin: 14px auto 74px;
  }
}
.team-article__span {
  color: $color_accent;
}
.team-list {
  @include content-between-flex($type: 'all');
  width: 900px;
  margin: auto;

  &__item {
    width: 280px;
    text-align: center;
  }
  &__photo {
    margin: 0 auto;
    @include hexagon(
      $width: 162px,
      $height: 175px,
      $background: '$color_accent'
    );
    margin-bottom: 33px;
  }
  &__name {
    @extend %larg-title;
    text-transform: capitalize;
    font-family: $font-first;
    color: $color_dark;
    &--span {
      color: $color_accent;
    }
  }
  &__post {
    color: $color_dark;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}

// Team view

.team-view {
  @include content-between-flex($type: 'all');
  padding-bottom: 52px;
  &__about {
    width: 320px;
    font-family: $font-first;
    font-weight: 300;
    @extend %stretched-text;
    color: $color_grey-line;
  }
  &__name {
    width: 320px;
  }
}
.slide-link {
  width: 90px;
  @include content-between-flex($type: 'all');
  margin: auto;
  padding-bottom: 166px;
}
.leaf-link {
  width: 28px;
  height: 28px;
  fill: $color_accent;
  border-radius: 50%;
  border: 2px solid $color_accent;
  @include transition;
}
